# postgres 配置
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=inquire
POSTGRES_SSLMODE=disable

# 数据库主机和端口
DB_HOST=postgres
DB_PORT=5432

# 后端服务端口
BACKEND_PORT=8080

# JWT 密钥 过期时间(单位秒)
JWT_KEY=
JWT_EXPIRE_TIME=
JWT_REFRESH_TIME=

# Qwen API-KEY
QWEN_API_KEY=