services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./backend/docker/database:/docker-entrypoint-initdb.d:ro
    ports:
      - "${DB_PORT}:${DB_PORT}"
    command: >
      sh -c "
        apt-get update &&
        apt-get install -y --no-install-recommends tzdata &&
        docker-entrypoint.sh postgres
      "
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: docker/Dockerfile
    container_name: backend
    environment:
      DATABASE_URL: "host=${DB_HOST} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} port=${DB_PORT} sslmode=${POSTGRES_SSLMODE}"
      PORT: ${BACKEND_PORT}
      JWT_KEY: ${JWT_KEY} 
      JWT_EXPIRE_TIME: ${JWT_EXPIRE_TIME}
      JWT_REFRESH_TIME: ${JWT_REFRESH_TIME}
      FILE_STORAGE_PATH: ${FILE_STORAGE_PATH}
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

volumes:
  postgres_data:
